asgiref==3.3.4
beautifulsoup4==4.9.3
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cssselect2==0.4.1
Currency==0.1.2
defusedxml==0.7.1
Django==3.2.4
django-appconf==1.0.4
django-imagekit==4.0.2
google==3.0.0
google-currency==1.0.9
html5lib==1.1
idna==2.10
pilkit==2.0
Pillow==8.2.0
pycparser==2.20
PyJWT==1.7.1
pyphen==0.11.0
python-decouple==3.4
pytz==2021.1
razorpay==1.2.0
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
tinycss2==1.1.0
twilio==6.59.1
urllib3==1.26.5
WeasyPrint==52.5
webencodings==0.5.1
xlwt==1.3.0
