{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 ">
                <h5>Know more</h5>
                <p>About us</p>
                <p>Terms and conditions</p>
                <p>privacy policy</p>
                <p>FAQs</p>
                
            </div>
            <div class="col-lg-6">
                <h5>Reach us</h5>
                <p>Phone : +91 91880 91880</p>
                <p>email : info@pickit.in</p>
            </div>  
            

        </div> <!-- container //  -->
</footer>
