/* category page changes */

.data-table i:hover{
    cursor: pointer;
}

#delete-category-modal{
    max-width: 30em;
    height: 15em;
    background: #8865653d;
    margin-top: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

#formFile::before {
    content: "Pick file";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 80px;
  }

.not-visible{
    display: none;
}

.banner-container{
    max-width: 400px;

}
.banner-container img{
    object-fit: contain;
}

.poster-container{
    max-width: 400px;
}

.poster-container img{
    object-fit: contain;
}

.category-container{
    max-width: 120px;
}

.category-container img{
    object-fit: contain;
}

