{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

	<div class="container">
		<div class="row">
			<aside class="col-lg-3 filter">
				<!--   SIDEBAR   -->
				<ul class="list-group">
					<a class="list-group-item " href="{% url 'account' %}"> Order history </a>
					<!-- <a class="list-group-item" href="#"> Transactions </a>
					<a class="list-group-item" href="#"> Return and refunds </a> -->
					<a class="list-group-item " href="{% url 'profile' %}">Profile</a>
					<a class="list-group-item activate" href="">Change password</a>
					<a class="list-group-item" href="{% url 'saved-address' %}">Saved addresses</a>
				</ul>
				<br>
				<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
						out</span> </a>
				<!--   SIDEBAR .//END   -->
			</aside>
			<main class="col-lg-9">
				<article class="card">
					
					<div class="card-body">
						<form method="POST" id="passwordForm">
							{% csrf_token %}
							<div class="form-row">
								<div class="col-md-12 form-group">
									<label>Current password</label>
									<input type="text" class="form-control" 
										autocomplete="off" name="current_password" required>
										{% for message in messages %}
                                    {% if 'fail' in message.tags %}
                                    <p class="text-danger">{{ message }}</p>
                                    {% endif %}
                                    {% endfor %}
								</div>
								<div class="col-md-6 form-group">
									<label>New password</label>
									<input type="text" id="newPassword" autocomplete="off" class="form-control" name="new_password"
										 required>
								</div>
								<div class="col-md-6 form-group">
									<label>Repeat password</label>
									<input type="text" class="form-control" autocomplete="off" 
										name="password_confirm" required>
								</div>

								<div class="form-group col mt-4 d-flex flex-column align-content-center justify-content-center">
									{% for message in messages %}
                                    {% if 'success' in message.tags %}
                                    <p class="text-success">{{ message }}</p>
                                    {% endif %}
                                    {% endfor %}
									<button type="submit"
										class="btn btn-major ">Save changes</button>
								</div>
							</div>
						</form>
					</div> <!-- card-body .// -->

				</article> <!-- order-group.// -->
			</main>
		</div> <!-- row.// -->
	</div>


</section>

{% endblock %}

{% block footer %}


{% endblock %}