{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

	<div class="container">
		<div class="row">
			<aside class="col-lg-3 filter">
				<!--   SIDEBAR   -->
				<ul class="list-group">
					<a class="list-group-item activate" href=""> Order history </a>
					<!-- <a class="list-group-item" href="#"> Transactions </a>
					<a class="list-group-item" href="#"> Return and refunds </a> -->
					<a class="list-group-item" href="{% url 'profile' %}">Profile</a>
					<a class="list-group-item " href="{% url 'change-password' %}">Change password</a>
					<a class="list-group-item" href="{% url 'saved-address' %}">Saved addresses</a>

				</ul>
				<br>
				<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log
						out</span> </a>
				<!--   SIDEBAR .//END   -->
			</aside>

			<main class="col-lg-9">
				{% if not orders %}
				<div class="d-flex  justify-content-center align-content-center">
				<div>
				<h4>You don't have any orders yet !</h4>
				<div class="d-flex justify-content-center">
				<a class="btn btn-outline-major" href="{% url 'store' %}">Continue shopping</a>
				</div>
				</div>
				</div>
				{% else %}
				{% for order in orders %}
				<div class="col-md-12 mb-4">
					<article class="card">
						<header class="card-header d-flex justify-content-between">
							<div>
								<strong>ID: {{ order.order_number }}</strong>
							</div>
							<div>
							<p>Date: {{ order.created_at | date:"F d Y" }}</p>
							</div>
						</header>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<h6 class="text-muted">Delivery to</h6>
									<p style="margin: 0; padding: 0; text-transform:capitalize;">{{order.first_name}} {{order.last_name}}
										<br>{{order.street}}
										<br>{{order.city}}, {{order.state}}
										{{order.pin}}
										<br>{{order.country}}
										<br>phone: {{order.phone}}
									</p>
								</div>
								<div class="col-md-4 payment-div">
									<h6 class="text-muted">Payment</h6>
									<span style="text-transform: capitalize;" class="">
										{{ order.payment.payment_method}}
									</span>
									<p>TransID : {{ order.payment.payment_id }} <br>
										
										<span class="b">Total: ₹ {{ order.payment.amount_paid }}0 </span>
									</p>
								</div>
							</div> <!-- row.// -->
							
						</div> <!-- card-body .// -->
						<div class="table-responsive">
							<table class="table table-hover">
								{% for order_product in order_products %}
								{% if order == order_product.order %}
								<tr>
									<td width="6%">
										{% if order_product.product.image_1 %}
											<img src="{{ order_product.product.image_1_small_thumbnail.url }}" class="img-xs border ">
											{% else %}
											<img src="{% static 'users/images/image-not-found.png' %}" class="img-xs border ">
											{% endif %}
									</td>
									<td width="50%">
										<p style="text-transform: capitalize;" class="title mb-0">{{ order_product.product.product_name }}</p>
										<var class=" text-muted">x {{ order_product.quantity }}</var>
									</td>
									<td width="30%"> Brand<br> <span style="text-transform: uppercase;" class="text-secondary">{{order_product.product.brand.brand_name}} </span></td>
									<td> <a href="{% url 'product' order_product.product.id %}" class="btn btn-outline-major">Details</a> </td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
							
						</div> <!-- table-responsive .end// -->
						<div class="row d-flex justify-content-around mb-3 ml-3">
							<div>Order status : <span {% if order.status == 'Pending' %}
								class="text-secondary"
								{% elif order.status == 'Cancelled' or order.status == 'Rejected' %}
								class="text-danger"
								{% else %}
								class="text-success"
								{% endif %}
								>{{order.status}}</span>
							</div>
							<div>
								{% if order.status != 'Cancelled'%}
								<a onclick="return(confirm('Do you really want to cancel this order?'))" href="{% url 'cancel-order' order.id %}" style="width: 10em;" class="btn btn-danger">Cancel order</a>
								{% endif %}
							</div>
						</div>
					</article> <!-- order-group.// -->
				</div>
				{% endfor %}
				{% endif %}
			</main>

		</div> <!-- row.// -->
	</div>


</section>

{% endblock %}

{% block footer %}


{% endblock %}