{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
	<div class="container">

		<div class="intro-banner-wrap">
			<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for banner in banners %}
					<div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" data-bs-interval="5000">
						<img src="{{ banner.banner.url }}" class="d-block w-100" alt="...">
					</div>
					{% endfor %}
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>


		</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION categories ========================= -->
<section class="section-cat padding-y-sm">
	<div class="container">

		<header class="section-heading">
			<h3 class="section-title">Shop by categories</h3>
		</header><!-- sect-heading -->
		<div class="row">
			{% for category in categories %}
			<div class="card col-4 col-sm-4 col-md-2 col-lg-2 col-lg-2 cat-card">
				<div class="card-body">
					<a href="{% url 'category' category.id %}"><img src="{{ category.cat_image.url }}"
							class="card-img-top mx-auto" alt="..."></a>
					<p class="cat-name">{{ category.category_name }}</p>
				</div>

			</div>
			{% endfor %}
		</div>

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION Categories END// ========================= -->

<!-- ========================= SECTION categories ========================= -->
<section class="section-poster margin-y-sm">
	<div class="container">
		<div class="row">
			{% for poster in posters %}
			<div class="col-lg-6 ">
				<img src="{{ poster.poster.url }}" class="card-img-top mx-auto" alt="...">
			</div>
			{% endfor %}
		</div> <!-- container //  -->
</section>
<!-- ========================= SECTION Categories END// ========================= -->



<!-- ========================= SECTION top deals  ========================= -->
<section class="section-name padding-y-sm">
	<div class="container">

		<header class="section-heading">
			<h3 class="section-title">Select from top deals</h3>
		</header><!-- sect-heading -->

		<div class="row">
			{% for product in products %}
			<div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 card-outer">
				{% if product.offer > 0  or product.category.cat_offer > 0 %}
				
				<div class="offer-flag-div"><img src="{% static 'users/images/offer-flag.png' %}" alt=""></div>
				<div class="offer-tag">
					{% if product.offer > product.category.cat_offer %}
					<p>{{ product.offer }}% off</p>
					{% else %}
					<p>{{ product.category.cat_offer }}% off</p>
					{% endif %}
				</div>
				{% endif %}
				<div class="card card-product-grid">
					<div class="card-image-div">
						{% if product.image_1 %}
						<a href="{% url 'product' product.id %}" class="img-wrap"> <img src="{{ product.image_1.url }}">
						</a>
						{% else %}
						<a href="{% url 'product' product.id %}" class="img-wrap"> <img src="{% static 'users/images/image-not-found.png' %}">
						</a>
						{% endif %}
					</div>
					<figcaption class="info-wrap">
						<p class="title">{{ product.product_name }} {{ product.quantity }}</p>
						<h4 class="price mt-1 text-success">₹ {{ product.selling_price }}.00</h4>

						<p class="">₹ <s>{{ product.mrp }}.00</s></p>
					</figcaption>
					<button onclick="addToCart('{{product.id}}')"
						class="btn btn-major mr-2 ml-2 mb-2 add-to-cart-btn" id="{{ product.id }}{{ product.id }}">Add to cart</button>
				</div>
			</div> <!-- col.// -->
			{% endfor %}
		</div> <!-- row.// -->
		<div class="row d-flex justify-content-end">
			<div class="mb-3">
				<a class="text-major float-right" href="{% url 'store' %}">See more >></a>
			</div>
		</div>
	</div><!-- container // -->
</section>
<!-- ========================= SECTION top deals  END// ========================= -->


{% endblock %}