{% extends 'user/base.html' %}

{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="card mb-4 col-md-12">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Review products</h4>
                        <div class="row">
                            {% for cart_item in cart_items %}
                            <div class="col-lg-6">
                                <figure class="itemside  mb-4">
                                    <div class="aside">
                                        {% if cart_item.product.image_1 %}
                                        <a href="{% url 'product' cart_item.product.id %}"> <img
                                                src="{{ cart_item.product.image_1_small_thumbnail.url }}"
                                                class="img-sm border">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'product' cart_item.product.id %}"> <img
                                                src="{% static 'users/images/image-not-found.png' %}"
                                                class="img-sm border">
                                        </a>
                                        {% endif %}
                                    </div>
                                    <figcaption class="info">
                                        <p style="text-transform:capitalize;"><b>{{ cart_item.product.product_name }}
                                                {{ cart_item.product.quantity }}</b>
                                        </p>
                                        <p class="text-secondary">Brand: <span
                                                style="text-transform:uppercase; font-size:15px">{{cart_item.product.brand.brand_name }}</span>
                                        </p>
                                        <span class="text-muted">{{ cart_item.quantity }}x =
                                            ₹{{cart_item.sub_total}}.00
                                        </span>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                            {% endfor %}
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->

                <article class="card mb-4 col-md-12">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Shipping address</h4>
                        <div class="row">
                            <p style="text-transform:capitalize;">{{order.first_name}} {{order.last_name}}
                                <br style="text-transform:capitalize;">{{order.street}}
                                <br style="text-transform:capitalize;">{{order.city}}, {{order.state}}
                                {{order.pin}}
                                <br>{{order.country}}
                                <br>phone: +91 {{order.phone}}
                            </p>
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->
            </div>
            <aside class="col-lg-4 float-right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">Complete payment</h4>
                        <dl class="dlist-align">
                            <dt>Cart value:</dt>
                            <dd class="text-right">₹ {{ total_mrp }}.00</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Savings:</dt>
                            <dd class="text-right">₹ {{ discount }}.00 </dd>
                        </dl>
                        {% if order.coupon %}
                        <dl id="code" class="dlist-align ">
                            <dt>Applied coupon:</dt>
                            <dd id="coupon" class="text-right text-success">{{order.coupon.code}}</dd>
                        </dl>
                        <dl id="couponDiscount" class="dlist-align ">
                            <dt>Coupon discount:</dt>
                            <dd id="discount" class="text-right text-success">₹ {{coupon_discount}}.00</dd>
                        </dl>
                        {% endif %}
                        <dl id="code" class="dlist-align not-visible ">
                            <dt>Applied coupon:</dt>
                            <dd id="coupon" class="text-right text-success"></dd>
                        </dl>
                        <dl id="couponDiscount" class="dlist-align not-visible">
                            <dt>Coupon discount:</dt>
                            <dd id="discount" class="text-right text-success"></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total payable:</dt>
                            <dd id="total" class="text-right text-dark b"><strong>₹ {{ order.total }}0</strong></dd>
                        </dl>
                        <hr>
                        <h5>Apply coupon</h5>
                        <div class="mb-2 mt-3 d-flex ">
                            <input style="width: 75%; height:2.5em;" type="text" name="coupon" id="couponCode"
                                placeholder="Enter the coupon code here"><button style="width: 25%; height:2.5em;"
                                type="button" onclick="applyCoupon('{{order.id}}')" class="btn btn-major">Apply</button>

                        </div>
                        <label class="text-danger" id="couponError" for=""></label>

                        <main class="col-md-12">
                            <article class="accordion" id="accordion_pay">
                                <!-- for loop start -->
                                <div class="card">
                                    <header class="card-header">
                                        <label class="form-check" data-toggle="collapse" data-target="#payWithPaypal">
                                            Pay with paypal
                                        </label>
                                    </header>
                                    <div id="payWithPaypal" class="collapse show" data-parent="#accordion_pay">
                                        <div class="card-body">
                                            <div id="paypal-button-container"></div>
                                        </div> <!-- card body .// -->
                                    </div> <!-- collapse .// -->
                                </div> <!-- card.// -->
                                <div class="card">
                                    <header class="card-header">
                                        <label class="form-check" data-toggle="collapse" data-target="#payWithRazorpay">
                                            Pay with razorpay
                                        </label>
                                    </header>
                                    <div id="payWithRazorpay" class="collapse" data-parent="#accordion_pay">
                                        <div class="card-body">
                                            <form action="{% url 'razor' %}" method="POST">
                                                {% csrf_token %}
                                                <script src="https://checkout.razorpay.com/v1/checkout.js"
                                                    data-key="rzp_test_jjMwguJFthIdMi" data-amount="{{ total }}"
                                                    data-currency="INR" data-order_id="{{ order_id }}"
                                                    data-buttontext="Pay with Razorpay" data-name="Pickit India ltd."
                                                    data-description="Sit back and enjoy the comfort of home"
                                                    data-image="" data-prefill.name="{{ order.first_name }}"
                                                    data-prefill.email="{{order.email }}" 
                                                    data-theme.color="#F37254"></script>
                                            </form>
                                        </div> <!-- card body .// -->
                                    </div> <!-- collapse .// -->
                                    
                                </div> <!-- card.// -->
                                <!-- <div class="card">
                                    <header class="card-header">
                                        <label class="form-check" data-toggle="collapse"
                                            data-target="#cashOnDelivery">
                                            Cash on delivery
                                        </label>
                                    </header>
                                    <div id="cashOnDelivery" class="collapse" data-parent="#accordion_pay">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-outline-major btn-block"> Cash on delivery </button>
                                        </div> 
                                    </div> 
                                </div>  -->

                            </article>
                            <!-- accordion end.// -->

                        </main>
                        <!-- <p class="text-center mb-3">
                            <img src="{% static 'users/images/payments.png' %}" height="26">
                        </p> -->







                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside>

        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>




{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    var amount = '{{converted_amount}}'
    var url = '{% url "paypal" %}'
    var csrftoken = getCookie('csrftoken');
    var orderID = '{{ order.order_number }}'
    var payment_method = 'Paypal'
    var redirect_url = "{% url 'order-complete' %}"
    var failed_url = "{% url 'order-failed' %}"

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({



        style: {
            color: 'blue',
            shape: 'rect',
            label: 'pay',
            height: 36
        },

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount
                    }
                }]
            });
        },
        onCancel: function (data) {
            window.location.href = failed_url
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                console.log(details)
                sendData();
                function sendData() {
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken
                        },
                        body: JSON.stringify({
                            orderID: orderID,
                            transactionID: details.id,
                            payment_method: payment_method,
                            status: details.status,
                        }),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            window.location.href = redirect_url;
                        });

                }
            });
        }


    }).render('#paypal-button-container');
</script>


{% endblock %}