{% extends 'user/base.html' %}

{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="card mb-4 col-md-12">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Review products</h4>
                        <div class="row">
                            {% for cart_item in cart_items %}
                            <div class="col-lg-6">
                                <figure class="itemside  mb-4">
                                    <div class="aside">
                                        {% if cart_item.product.image_1 %}
                                        <a href="{% url 'product' cart_item.product.id %}"> <img
                                                src="{{ cart_item.product.image_1_small_thumbnail.url }}"
                                                class="img-sm border">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'product' cart_item.product.id %}"> <img
                                                src="{% static 'users/images/image-not-found.png' %}"
                                                class="img-sm border">
                                        </a>
                                        {% endif %}
                                    </div>
                                    <figcaption class="info">
                                        <p style="text-transform:capitalize;"><b>{{ cart_item.product.product_name }}
                                                {{ cart_item.product.quantity }}</b>
                                        </p>
                                        <p class="text-secondary">Brand: <span
                                                style="text-transform:uppercase; font-size:15px">{{cart_item.product.brand.brand_name }}</span>
                                        </p>
                                        <span class="text-muted">{{ cart_item.quantity }}x =
                                            ₹{{cart_item.sub_total}}.00
                                        </span>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                            {% endfor %}
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->

                <article class="card mb-4 col-md-12">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Shipping address</h4>
                        <div class="row">
                            <p style="text-transform:capitalize;">{{order.first_name}} {{order.last_name}}
                                <br style="text-transform:capitalize;">{{order.street}}
                                <br style="text-transform:capitalize;">{{order.city}}, {{order.state}}
                                {{order.pin}}
                                <br>{{order.country}}
                                <br>phone: +91 {{order.phone}}
                            </p>
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->
            </div>
            <aside class="col-lg-4 float-right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">Complete payment</h4>
                        <dl class="dlist-align">
                            <dt>Cart value:</dt>
                            <dd class="text-right">₹ {{ total_mrp }}.00</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Savings:</dt>
                            <dd class="text-right">₹ {{ discount }}.00 </dd>
                        </dl>
                        {% if order.coupon %}
                        <dl id="code" class="dlist-align ">
                            <dt>Applied coupon:</dt>
                            <dd id="coupon" class="text-right text-success">{{order.coupon.code}}</dd>
                        </dl>
                        <dl id="couponDiscount" class="dlist-align ">
                            <dt>Coupon discount:</dt>
                            <dd id="discount" class="text-right text-success">₹ {{coupon_discount}}.00</dd>
                        </dl>
                        {% endif %}
                        <dl id="code" class="dlist-align not-visible ">
                            <dt>Applied coupon:</dt>
                            <dd id="coupon" class="text-right text-success"></dd>
                        </dl>
                        <dl id="couponDiscount" class="dlist-align not-visible">
                            <dt>Coupon discount:</dt>
                            <dd id="discount" class="text-right text-success"></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total payable:</dt>
                            <dd id="total" class="text-right text-dark b"><strong>₹ {{ order.total }}0</strong></dd>
                        </dl>
                        <hr>
                        <h5>Apply coupon</h5>
                        <div class="mb-2 mt-3 d-flex ">
                            <input style="width: 75%; height:2.5em;" type="text" name="coupon" id="couponCode"
                                placeholder="Enter the coupon code here"><button style="width: 25%; height:2.5em;"
                                type="button" onclick="applyCoupon('{{order.id}}')" class="btn btn-major">Apply</button>

                        </div>
                        <label class="text-danger" id="couponError" for=""></label>
                        <main class="col-md-12">
                            
                                        <div class="card-body">
                                            <a href="{% url 'cod' %}" class="btn btn-major btn-block"> Cash on delivery </a>
                                        </div> 
                        </main>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside>

        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>




{% endblock %}

{% block footer %}

{% endblock %}

