{% extends 'user/base.html' %}
{% load static %}

{% block content %}



<section class="section-content padding-y bg">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="card mt-5 mb-5">
			<div class="row no-gutters">
				<aside class="col-md-6 justify-content-between">
					<article class="gallery-wrap d-flex flex-column justify-content-around">
						<div class="img-big-wrap" id="img-big">
							<a href="#"><img id="big-img" src="{{ product.image_1.url }}"></a>
						</div>
						<div class=" d-flex justify-content-center">
							<div class="img-block">
								<img src="{{ product.image_1.url }}" alt="">
							</div>
							<div class="img-block">
								<img src="{{ product.image_2.url }}" alt="">
							</div>
							<div class="img-block">
								<img src="{{ product.image_3.url }}" alt="">
							</div>
							<div class="img-block">
								<img src="{{ product.image_4.url }}" alt="">
							</div>

						</div>



					</article> <!-- gallery-wrap .end// -->
				</aside>
				<main class="col-md-6 border-left">
					<article class="content-body">

						<h4 class="title product-title">{{ product.product_name }} {{product.quantity }}</h4>
						<p style="text-transform: uppercase; color:#3b3b3b;">{{ product.brand.brand_name }}</p>

						<div class="mb-3">
							<var class="price h4 text-success">₹ {{ product.discount_price }}.00</var>
							<p>M.R.P <s>{{ product.mrp }}.00</s></p>
							<p>You save ₹ {{ product.discount }}.00</p>
						</div>
						<hr>
						<!-- {% if in_cart %}
						<div class="col">
							<div class="input-group input-spinner">
								<div class="input-group-prepend">
									<button onclick="removeFromCart('{{product.id}}')" class="btn btn-major remove-from-cart-btn" type="button" id="button-minus"> <i
											class="fa fa-minus"></i> </a>
								</div>
								<input type="text" class="form-control" value="{{ cart_item.quantity }}" disabled>
								<div class="input-group-append">
									<button onclick="addToCart('{{product.id}}')" class="btn btn-major add-to-cart-btn" type="button" id="button-plus"> <i
											class="fa fa-plus"></i> </button>
								</div>
							</div> 
						</div> 

						{% else %} -->
						<input type="hidden" class="product-id" value="{{ product.id }}">
						<button onclick="addToCart('{{product.id}}')"  class="btn  btn-major add-to-cart-btn"> <span class="text">Add to cart</span>
							<i  class="fas fa-shopping-cart " ></i> </button>
						<!-- {% endif %} -->
						<hr>
						<div class="row">
							<div class="item-option-select">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								
								<p>{{ product.description }}</p>
							</div>
						</div> <!-- row.// -->
						<div class="row">
							<div class="item-option-select">

							</div>
						</div> <!-- row.// -->
					
						
					</article> <!-- product-info-aside .// -->
				</main> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->



	</div> <!-- container .//  -->
</section>
{% block footer %}
{% endblock %}
{% endblock %}