{% extends 'user/base.html' %}
{% load static %}
{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

	<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
		<article class="card-body">
			<header class="mb-4">
				<h4 class="card-title mb-3">Sign up</h4>
			</header>
			<form method="POST" id="signUpForm">
				{% csrf_token %}
				<div class="form-row">
					<div class="col form-group">
						<label>First name</label>
						<input type="text" class="form-control" placeholder="Enter the first name" autocomplete="off"
							name="first_name" required>
					</div>
					<div class="col form-group">
						<label>Last name</label>
						<input type="text" class="form-control" placeholder="Enter the last name" name="last_name" required>
					</div>
				</div>
				<div class="form-group">

					<label>Email</label>
					<input type="email" class="form-control" placeholder="Enter the email address" name="email"
						required>
					{% for message in messages %}
					{% if 'email' in message.tags %}
					<label class="form-group text-danger" for="message">{{message}}</label>
					{% endif %}
					{% endfor %}
				</div>

				<div class="form-group">
					<label>Phone number</label>
					<input type="tel" class="form-control" placeholder="Enter the phone number" name="phone" required>
					{% for message in messages %}
					{% if 'phone' in message.tags %}
					<label class="form-group text-danger" for="message">{{message}}</label>
					{% endif %}
					{% endfor %}
				</div>

				<!-- <div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" placeholder="Enter the username" name="username">
					{% if 'username' in message.tags %}
					<label class="form-group text-danger" for="message">{{message}}</label>
					{% endif %}
				</div>  -->
				<!-- <div class="form-row">
					<div class="form-group col-md-6">
						<label>Create password</label>
					    <input class="form-control" placeholder="Enter passoword" type="password" name="password">
					</div> 
					<div class="form-group col-md-6">
						<label>Repeat password</label>
					    <input class="form-control" placeholder="Repeat your password" type="password">
					</div> 
				</div> -->


				<div class="form-group col mt-4">
					<button type="submit" class="btn btn-major btn-block"> Register </button>
				</div>
	</div> <!-- form-row.// -->
	</form>
	</article><!-- card-body.// -->
	</div> <!-- card .// -->
	<p class="text-center mt-4">Have an account? <a class="text-major" href="{% url 'sign-in' %}">Log In</a></p>
	<br><br>
	<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}
{% block footer %}

{% endblock %}